/* Styles */

h1 {
    color: white;
    margin-bottom: 30px;
}

body {
    background-image: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Mina', sans-serif;
}

.help-block {
    color: #ff5d0f;
    font-size: 16px;
}

.error {
    background: rgba(0, 0, 0, .7);
}

p {
    color: #fff;
    font-size: 130%;
}

.transparent {
    background: rgba(0, 0, 0, .7);
}

.form-control {
    font-size: 18px;
}

#btn-shorten {
    margin-bottom: 2%;
    background-color: #ff5d0f;
}

.btn-default {
    color: #fff;
    background-color: #ff5d0f;
}

.btn-default: hover {
    background-color: #355db2;
}

/* Change Chrome default form filler pale yellow color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill {
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
}

/* Prevent falling down of scissors button */
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-bottom: 32px;
}
