/* Styles */

h1 {
    color: white;
    margin-bottom: 30px;
}

body {    
    background-image: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Mina', sans-serif;
}

.help-block {
    color: #ff5d0f;    
}

p {
    color: #fff;
    font-size: 130%;
}

.transparent {
    background: rgba(0, 0, 0, .7);
}

#btn-shorten {
    margin-bottom: 2%;
    background-color: #ff5d0f;
}

.btn-default {
    color: #fff;
    background-color: #ff5d0f;
    
   
}

.btn-default: hover {
    background-color: #355db2;
}

.form-control {
    font-size: 18px;
}

